* {
    margin: 0px;
}

.container {
    position: relative;
    display: grid;
    grid-template-rows: 100px 75px auto  ; 
    grid-template-columns: 450px auto;
    grid-template-areas: "header header" "opciones opciones""left content" ;
    grid-gap: 1px;
    height: 150vh;
}

.item {
    background-color: white;
    border: 2px solid white;
    
}

.header {
    background-color: cadetblue;
    border: 0px cadetblue;
    padding:25px;
    grid-area: header;
    font-size: 40px;
    text-align: center;
    font-style: italic ;
    font-weight: bold;
}

.opciones{
    padding: 10px;
    grid-area: opciones;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(0, 0%, 25%);

}


.a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.enlaces{
    list-style: none;
    background-color:lightslategray;
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    gap: 0px;
    text-align: center;
    height: 25px;
}

.left {
    grid-area: left;
    background-color: lightgrey;
    padding: 20px;
    
    
}

.content {
    grid-area: content;
    font-weight: bold;
    text-align: left;
    border: 1px solid black;
    
    
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenido-left{
    line-height: 1.5;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}


.img{
    width:200px ;
    height:250px;
}

.contenido-personal{
    text-align: left;
    font-weight: 100;
}

.link{
    text-decoration: none;
    color: blue;
    font-weight: bold;

}

.items{
    font-size: 20px;
    font-style: normal;
    line-height: 2;
    gap: 2px;
    text-align: left;
}