* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh; /* Asegura que el cuerpo ocupe el 100% de la altura de la pantalla */
    background: linear-gradient(to right, #2aace6, #0c5474);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Alinea los elementos en columna */
    gap: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y los botones */
}

div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #2aace6, #0c5474);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

button a {
    color: #fff;
    text-decoration: none;
}

button a:hover {
    text-decoration: underline;
}
