* {
    margin: 0px;
}

.container {
    display: grid;
    
    gap: 5px;
    grid-template-areas: "header header" "menu menu""content content" "footer footer";
    height: 100vh;
}

.item {
    background-color: lightskyblue;
    padding: 90px;
    border: 1px solid lightgray;
}

.header {
    grid-area:header;
    
}

.menu{
    grid-area: menu;
}


.content {
    background-color: lightskyblue;
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row; 
  }


.footer {
    grid-area: footer;
}



.cuadro1{
    background-color: yellow;
    
    height: 100px;
    width: 380px;
    padding: 20px;
}


.cuadro2{
    background-color: gray;
    
    height: 25px;
    width: 100px;
    padding: 20px;
    

}
.cuadro3{
    
    background-color: blue;
    
    height: 25px;
    width:100px;
    padding: 20px;
    

}
.cuadro4{
    background-color: pink;
    
    height: 25px;
    width: 100px;
    padding: 20px;
    

}