
* {
    background-color: rgb(155, 209, 206);
}

.nombre {
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
}

.imagen {
    padding: 10px 10px;
    text-align: left;
}

.container  {
    display: flex;
}

.item1, .item2, .item3, .item4 {
    margin: 10px;
    padding: 10px;
    background-color: rgb(44, 132, 204);
    border-radius: 8px;
}